.custom-size input {
    max-width: 400px;
}

.custom-size button {
    width: 400px;

    font-family: sans-serif;
}

.custom-gap div {
    padding: 20px 0px;
}

.custom-gap {
    padding: 20vh 0px;
}