.total-size {
    width: 100%;
}

.info-size {

    width: 100%;
}

.list-size {
    width: 100%;
}

.info-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 40vh;
}
