.icon-size {
    font-size: 3rem;

    position: relative; 
    top: -0.75rem;
}
  
.info-item {
    width: auto;
    margin: 5%;
}

.info-item-text {
    width: 20vh;
    overflow-x: hidden;
}

.no-deco {
    text-decoration: none;
    color: black;
}

.text-size-auto * {
    text-size-adjust: auto;
}
