.custom-size input {
    max-width: 400px;
}

.custom-size button {
    width: 400px;

    font-family: sans-serif;
}

.custom-size {
    width: 600px;
}

.custom-gap div {
    padding: 20px 0px;
}

.custom-gap {
    padding: 5% 0px;
    margin: 100px auto;
}